.errorMessage {
 color: orangered;
font-weight: 200;
transform: translateY(-300%);
}

.noMessage {
color:transparent;
text-shadow: none;
transform: translateY(-300%);
}

.tgUP {
transform: translateY(300%);
}