p {
  --cosmic_latte: #fff8e7;
}

.presenter {
  color: rgb(4, 89, 163);
  font-weight: 500;
}

iframe {
  width: 100%;
  height: 100%;
}

.flex3 {
  display: flex;
  width: calc(100% - 1rem);
  justify-content: space-between;
  margin-bottom: 2rem;
}

.album {
  height: 80%;
  width: 80%;
  border: rgb(121, 133, 14) 1px solid;
  align-items: center;
  display: flex;
  position: absolute;
  background-image:
    linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    repeating-radial-gradient(circle, #02fcb8 0px, #02fcb8 1px, transparent 2px, transparent 100%),
    repeating-radial-gradient(circle at 75% 75%, #000000 0px, #000000 1px, transparent 2px, transparent 100%);
  background-size: 32px 32px;
}

.apodPage {
  display: flex;
  flex-direction: column;
}

/* APOD Console buttons and action shadows */

.apodButtons {
  display: flex;
  flex-direction: row;
  width: calc(90% - 200px);
  justify-content: space-between;
  margin: 6rem 2rem;
  position: absolute;
}

.explanation {
  color: antiquewhite;
  font-weight: 500;
}

.apodButton {
  height: 78px;
  width: 65px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 10;
  transition: .1s all;
}

.today:hover,
.choose:hover,
.gimme:hover,
.range:hover {
  transform: scale(1.2);
}

/* picture boxes */

/* width */
.stylebox::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.stylebox::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 0px 0px 5px 5px;
  box-shadow: inset 0 0 7px #ceda8d;
}

/* Handle */
.stylebox::-webkit-scrollbar-thumb {
  background: linear-gradient(10deg, rgb(185, 106, 15) 10%, rgb(148, 140, 32) 100%);
  box-shadow: inset 0 0 5px 1px #929009;
  border-radius: 5px;
}

/* Handle on hover */
.stylebox::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(10deg, rgb(238, 198, 152) 30%, rgb(150, 146, 98) 100%);
  box-shadow: inset 0 0 5px 1px #929009;

}

.stylebox {
  display: flex;
  flex-basis: calc(100% / 3 - 34px);
  flex-wrap: nowrap;
  margin: 15px;
  border: solid 1px rgb(216, 86, 39);
  background-color: #0e1224;
  box-shadow: inset -2px 2px 5px #ceda8d,
    inset 2px -1px 5px #d4dd9f;
  min-width: 650px;
  max-height: 60vh;
  word-wrap: break-word;
  overflow: hidden;
}

.infobox {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 5px;
  object-fit: contain;
  overflow: auto;
  margin-top: 30px;
}

.apodPhoto {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3 - 34px);
  display: block;
  margin: auto;
  max-height: 100%;
}

.apodPhoto img {
  width: 95%;
  margin: 10px;
  object-fit: contain;
  max-height: 70vh;
}

.apodPhoto h1 {
  margin-top: 10px;
  margin-bottom: 0;
}

.urla {
  margin-top: 0;
  overflow: visible;
}

.apodPhoto .date {
  margin-top: 0;
  margin-bottom: 10px;
}

.apodPhoto .explanation {
  color: #bbb;
  margin: 15px;
}

@media (max-width: 600px) {
  .apodPhoto {
    display: block;
  }

  .infobox .apodPhoto img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* Album Like button */

.like-btn {
  margin: 10px;
  border-radius: 10px;
  border: 2px rgb(25, 200, 212);
  background-color: #101652;
  color: #5ee05e;
  width: auto;
  display: block;
  margin: 2em auto;
  padding: 8px 18px 8px 18px;
  box-shadow: inset 0px 1px 3px #388bf7;
  text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.like-btn:hover {
  background-color: #04529b;
  box-shadow: inset 0px 1px 3px #0ff;
}