/* Login & Sign in Page */

/* /////Celestial Bodies */

.circle {
    /*Earth*/
    margin-left: 270vh;
    margin-top: 70vh;
    height: 63.5px;
    width: 63.5px;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgb(0, 0, 255), rgba(0, 0, 0, 0.87));
    box-shadow: 0px 0px 20px rgb(87, 87, 223);
    animation: earth linear 100s infinite;
  }
  
  @keyframes earth {
    from {
      transform: translatex(-50vh) scale(1.5) translatey(-203vh) scale(1.5);
    }
  
    to {
      transform: translatex(-25vh) scale(0) translatey(-260vh) scale(0);
    }
  }
  
  .circle1 {
    /*Pluto*/
    display: flex;
    margin-left: auto;
    margin-top: 1%;
    height: 10.37px;
    width: 10.37px;
    border-radius: 70px;
    background-image: radial-gradient(circle, rgb(150, 140, 131), rgb(0, 0, 0));
    position: relative;
  }
  
  .circle2 {
    /*Ganymede*/
    margin-left: 65%;
    margin-top: -20%;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(160, 157, 143), rgb(62, 63, 30));
    z-index: 1;
  }
  
  .circle3 {
    /*Mars*/
    margin-left: 10vh;
    margin-top: -85vh;
    position: fixed;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background:
      radial-gradient(95% 35% at 45% 1%, rgb(223, 208, 208), transparent 42%),
      radial-gradient(65% 65% at 25% 25%, rgb(90, 44, 7), transparent 53%),
      radial-gradient(100% 25% at 5% 0%, #351417, transparent 10%),
      radial-gradient(75% 15% at 55% 75%, #442702, transparent 50%),
      radial-gradient(75% 15% at 85% 70%, #000000, transparent 20%),
      radial-gradient(100% 15% at 35% 85%, #442702, transparent 25%),
      radial-gradient(100% 15% at 25% 75%, #442702, transparent 25%),
      radial-gradient(100% 5% at 15% 70%, #442702, transparent 25%),
      radial-gradient(95% 5% at 85% 88%, #442702, transparent 20%),
      radial-gradient(95% 10% at 55% 87%, #442702, transparent 30%),
      radial-gradient(100% 20% at 45% 100%, rgb(221, 218, 216), transparent 100%),
      radial-gradient(70% 55% at 5% 75%, rgb(97, 56, 9), transparent 63%),
      radial-gradient(100% 100% at 0% 5%, transparent, #b34125 98%),
      linear-gradient(20deg, #c44f32, #3a1317);
    box-shadow: inset -25px -5px 20px 1px rgba(128, 111, 56, 0.5);
    z-index: 0;
    animation: mars linear 45s infinite;
  }
  .stop_scroll {
    height: 100%;
    overflow: hidden;
  }
  
  .rotatePlanets {
    transform: rotate(60deg);
    left: -28vw;
    top: 56vh;
  }
  
  @keyframes mars {
    from {
      transform: translate(-111vh, 46vh)scale(2.3);
    }
  
    to {
      transform: translate(39vh, -12vh)scale(1);
      color: #000000;
    }
  }
  
  .circle4 {
    /*Callisto*/
    margin-left: 60%;
    margin-top: -150%;
    height: 24px;
    width: 24px;
    border-radius: 700px;
    background-color: rgb(0, 0, 255);
    /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, rgb(148, 230, 148), rgb(0, 0, 0));
    z-index: 2;
  }
  
  .circle5 {
    /* Mercury*/
    margin-top: -50vh;
    position: fixed;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgb(189, 194, 184), rgb(0, 0, 0));
    box-shadow: black;
    animation: 25s merc linear infinite;
  }
  
  @keyframes merc {
    from {
      transform: translate(-100vh, 12vh)scale(2.3);
    }
  
    to {
      transform: translate(110vh, -31.5vh)scale(.6);
      color: #000000;
    }
  }
  
  .circle6 {
    /*Mimas*/
    margin-left: 65%;
    margin-top: -17%;
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(171, 218, 241), rgb(0, 0, 0));
    z-index: 1;
  }
  
  .circle7 {
    /*Moon*/
    margin-left: 20%;
    margin-top: -2%;
    position: relative;
    height: 17.35px;
    width: 17.35px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(171, 218, 241), rgb(0, 0, 0));
    z-index: 0;
    animation: luna 15s infinite alternate;
  }
  
  @keyframes luna {
    from {
      transform: translatex(-2vh) translatey(-5vh);
    }
  
    to {
      transform: translatex(0vh) translatey(13vh);
    }
  }
  
  .circle8 {
    /*Titan*/
    margin-left: 67%;
    margin-top: 45%;
    position: relative;
    height: 26px;
    width: 26px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(238, 222, 153), rgb(8, 6, 0));
    z-index: 3;
    box-shadow: 0px 0px 15px rgb(224, 221, 169);
  }
  
  .uGroup {
    margin-left: -130vh;
    position: absolute;
    margin-top: 55vh;
    align-items: center;
    justify-self: center;
    height: 320px;
    width: 320px;
    z-index: 0;
  }
  
  .circle9 {
    /*Uranus*/
    margin-left: 30vh;
    margin-top: -102vh;
    position: fixed;
    height: 640px;
    width: 640px;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgb(196, 222, 238) 0%, rgb(162, 182, 194) 31%, transparent 31%,
        transparent 50%, rgba(162, 182, 194, 0.3) 52%, transparent 54%,
        transparent 61%, rgba(117, 132, 141, 0.75) 62%, transparent 63%,
        transparent 50%, rgba(196, 222, 238, 0.6) 65%, transparent 100%);
    animation: uranus 315s linear infinite;
  }
  
  @keyframes uranus {
    from {
      transform: translate(-270%, 10%);
    }
  
    to {
      transform: translate(50%, -50%);
    }
  }
  
  .circle10 {
    /*Ariel*/
    margin-left: 315px;
    margin-top: 315px;
    display: inline-block;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-image: radial-gradient(circle, rgb(231, 173, 107), rgb(120, 128, 52));
    z-index: -2;
    animation: ariel linear infinite 63s;
  }
  
  @keyframes ariel {
    from {
      transform: rotate(0deg) translateX(273px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translateX(273px) rotate(0deg);
    }
  }
  
  .circle11 {
    /*Titania*/
    margin-left: 315px;
    margin-top: 315px;
    display: inline-block;
    position: absolute;
    height: 11px;
    width: 11px;
    border-radius: 70px;
    background-image: radial-gradient(circle, rgb(221, 123, 12), rgb(0, 0, 0));
    z-index: -2;
    animation: titania linear infinite 87s;
  }
  
  @keyframes titania {
    from {
      transform: rotate(0deg) translateX(231px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translateX(231px) rotate(0deg);
    }
  }
  
  .circle12 {
    /*Umbriel*/
    margin-left: 315px;
    margin-top: 313px;
    display: inline-block;
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(226, 177, 103), rgba(0, 0, 0, 0.781));
    z-index: -2;
    animation: umbriel linear infinite 83s;
  }
  
  @keyframes umbriel {
    from {
      transform: rotate(0deg) translateX(307px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translateX(307px) rotate(0deg);
    }
  }
  
  .circle13 {
    /*Oberon*/
    margin-left: 315px;
    margin-top: 315px;
    display: inline-block;
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50px;
    background-image: radial-gradient(circle, rgb(226, 118, 10), rgba(0, 0, 0, 0.7));
    z-index: -2;
    animation: oberon linear infinite 37s;
  }
  
  @keyframes oberon {
    from {
      transform: rotate(0deg) translateX(300px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translateX(300px) rotate(0deg);
    }
  }
  
  .circle17 {
    /*Miranda*/
    margin-left: 315px;
    margin-top: 315px;
    display: inline-block;
    position: absolute;
    height: 9px;
    width: 9px;
    border-radius: 50px;
    background-color: rgb(184, 181, 34);
    /* For browsers that do not support gradients */
    background-image: radial-gradient(circle, rgb(184, 181, 34), rgba(0, 0, 0, 0.781));
    z-index: -1;
    animation: miranda linear infinite 30s;
  }
  
  @keyframes miranda {
    from {
      transform: rotate(0deg) translateX(255px) rotate(0deg);
    }
  
    to {
      transform: rotate(360deg) translateX(255px) rotate(0deg);
    }
  }
  
  .comet {
    /*comet*/
    position: fixed;
    margin-top: -90vh;
    left: 110vh;
    height: 200px;
    width: 0px;
    color: rgb(249, 252, 208);
    box-shadow: 0px 0px .5px 0.1px;
    border-radius: 500px 0px 0px 0px;
    transform-origin: 0 0;
    z-index: 0;
    animation: 20s comet linear infinite;
  }
  
  @keyframes comet {
    0% {
      opacity: 1;
      transform: scale(.6)rotate(-20deg);
    }
  
    1% {
      opacity: 1;
      transform: scale(3) rotate(-20deg);
    }
  
    2% {
      opacity: .8;
      transform: scale(4) rotate(-20deg);
    }
  
    3% {
      background-color: rgb(241, 190, 190);
      opacity: .6;
      transform: scale(5) rotate(-20deg);
    }
  
    4% {
      background-color: rgb(0, 0, 0);
      opacity: .5;
      transform: scale(6) rotate(-20deg);
    }
  
    5% {
      opacity: .3;
      transform: scale(7) rotate(-20deg);
    }
  
    10% {
      opacity: .0;
      transform: scale(7) rotate(-20deg);
    }
  
    100% {
      opacity: .0;
      transform: scale(7) rotate(-20deg);
    }
  }
  
  .circle15 {
    /*Sun*/
    position: fixed;
    right: 0;
    bottom: 0;
    height: 1000px;
    width: 1000px;
    clip-path: circle(200% at 100% 280%);
    background: rgb(235, 121, 68);
    background: linear-gradient(168deg, #ee5832 80%, #d87f02 87%, #fcd215 95%);
    z-index: 0;
  }
  
  #sun {
    filter: drop-shadow(-1px -30px 25px rgba(255, 30, 0, 0.5));
  }
  
  /* spacing for planets */
  
  
  .therest {
    flex: content;
    margin-bottom: -575px;
    z-index: -1;
  }