@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

/* // ///// TourGuide  */
.stripe {
  background-color: #31475583;
  padding: 0%;
  height: 128px;
  width: 310px;
  margin-bottom: 10px;
  border-bottom: 1px rgba(49, 97, 116, 0.5) solid;
  border-radius: 10px 10px 0px 0px;
}

.control-arrow.control-next {
  text-decoration: none;
}

/* login */

.card {
  position: relative;
  width: 310px;
  height: 500px;
  border-radius: 10px;
  perspective: 1000px;
  /* transform-style: preserve-3d; */
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
/* backface-visibility: hidden; */
  transform-style: preserve-3d;
}

 /* .card .face.login {
transform-style: preserve-3d;
backface-visibility: hidden;
}  */

.signup {
  transform: rotateY(180deg);
/* transform-style: preserve-3d; */
/* backface-visibility: hidden; */
}

.flip_Off {
  transform: rotateY(180deg);
  transition: 1s;
}

.flip_On {
  transform: rotateY(360deg);
  transition: 1s;
  
}

.tourguide {
   transform-style: preserve-3d;
  backface-visibility: hidden; 
  position: relative;
  cursor: default;
  border: solid .5px rgba(70, 201, 201, 0.25);
  border-bottom: solid .5px rgba(15, 235, 235, 0.25);
  max-width: 310px;
  height: 500px;
  border-radius: 10px;
  font-weight: 300;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(7px);
  box-shadow: 4px 4px 2px 1px rgba(72, 119, 111, 0.219),
    3px 3px 1px 1px rgba(5, 41, 29, 0.205),
    inset 2px 3px 0px 3px rgba(37, 48, 44, 0.3),
    inset 5px 4px 2px rgba(17, 43, 43, 0.3);
  z-index: 90;
}

.sunburn {
  background-image: linear-gradient(340deg,
      rgba(165, 112, 14, 0.2),
      rgba(40, 54, 61, 0.014) 15%);
}

.tourguide::after {
  content: "TourGuide 2.1M31-7 LU";
  font-family: "Copperplate", Times, serif;
  margin-left: 1em;
  color: rgb(214, 214, 214);
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding-bottom: 2px;
  filter: drop-shadow(0px 0px 40px rgb(0, 0, 0));
  font-size: 13px;
}

.dots {
  width: 100%;
  height: 100%;
  background-image: repeating-radial-gradient(circle, #02fcb8 0px, #02fcb8 1px, transparent 2px, transparent 100%);
  background-size: 18px 18px;
}

.btnGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 120;
}

.tourguide button,
.tgButton {
  position: absolute;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 72%;
  margin-top: 45px;
  width: 50px;
  height: 50px;
  z-index: 110;
  border: 2px solid rgba(38, 59, 49, 0.5);
  background-image: linear-gradient(to right, #314755 0%, #85e76c 49%, #314755 100%);
}

.flip_inputs {
  transform: translateX(60px);
}

.space {
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
  display: flex;
}

.namepass {
  transform: translate(5px, 15px);
}

.gmessage,
.smessage {
  height: 115px;
  width: 210px;
  font-family: "Monaco", Times, serif;
  display: inline-block;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
  color: #5fd482;
  border: 1px groove rgba(255, 255, 255, 0.5);
  box-shadow: 4px 4px 2px hsla(180, 8%, 26%, 0.6),
    inset 4px 3px 2px hsla(180, 5%, 18%, 0.975);
  z-index: 11;
}

.signMess {
  display: inline-block;
  justify-content: flex-start;
  height: 260px;
  width: 210px;
  border-radius: 10px;
  font-family: "Monaco", Times, serif;
  padding: 5px;
  margin-left: 59px;
  margin-top: 50px;
  color: #5fd482;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px groove rgba(255, 255, 255, 0.5);
  box-shadow: 3px 2px 2px hsla(180, 8%, 26%, 0.6),
    inset 3px 2px 2px hsla(180, 5%, 18%, 0.975);
  z-index: 11;
}

.sign {
  text-decoration: none;
  margin-left: -3.45em
}

.outerS {
  display: inline-flex;
  flex-basis: auto;
  padding: 20px;
}

.tourguide input {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  width: 220px;
  height: 25px;
  padding-left: 15px;
  background-color: #ace4f8bb;
  border-radius: 40px 4px;
  border-color: rgb(236, 237, 241);
  box-shadow: 3px 4px 1px hsla(180, 12%, 30%, 0.973),
    inset 3px 3px 1px hsla(180, 16%, 36%, 0.973);
}

.blue:hover {
  box-shadow: 0px 0px 200px 20px rgba(41, 172, 150, 0.877);
}

.tourguide:hover {
  border-color: rgba(48, 136, 136, 0.781);
}

.glassForm {
  background-color: hsla(226, 66%, 11%, 0.5);
  display: flex;
  position: relative;
  top: 300px;
  left: 50%;
  right: auto;
  transform: translate(-50%, -50%);
  width: 720px;
  height: 500px;
  margin-top: 200px;
  border-radius: 10px;
  font-weight: 300;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  border: 3px solid rgb(53, 65, 73);
  box-shadow: 3px 3px 5px 1px #c4e0df8a,
    4px 4px 2px hsla(180, 52%, 46%, 0.973),
    inset 4px 5px 4px hsl(180, 5%, 18%);
  z-index: 100;
}

.glassForm input {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
  width: 200px;
  height: 25px;
  padding-left: 15px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #ffffff79;
  border-bottom: rgb(236, 237, 241);
  box-shadow: 3px 4px 1px hsla(180, 12%, 30%, 0.973),
    inset 3px 3px 1px hsla(180, 16%, 36%, 0.973);
}

/* ////Contact Us */

.textForm {
  margin-top: -250px;
  margin-left: 270px;
  background-color: hsla(240, 43%, 1%, 0.5);
  border-radius: 10px;
  color: antiquewhite;
  padding: 15px;
  font: 17px;
  border: 1px solid rgb(53, 65, 73);
  box-shadow: 1px 1px 2px 1px #645757e0,
    1px 1px 1px 1px hsla(180, 52%, 46%, 0.973),
    inset 1px 3px 2px 1px hsl(180, 5%, 18%);
}

.textForm::active {
  border-radius: 10px;
  border: blue dotted 2px;
}

.textForm::hover {
  border-radius: 10px;
  border: blue dotted 2px;
}

.textEmail {
  margin-bottom: 300px;
}

.textDrop {
  margin-bottom: 400px;
}

.opposite {
  transform: translate(-271px, -1px);
}

.bulbOff,
.bulbOn {
  /*AiOutlineBulb*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  top: 2px;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.bulbOff {
  animation: mymove 2.5s infinite;
  background-color: rgb(51, 22, 22);
  border: white dotted 1px;
}

@keyframes mymove {
  50% {
    box-shadow: 0px -10px 20px rgba(41, 172, 150, 0.808);
  }
}

.bulbOn {
  background: radial-gradient(circle, black 35%, rgb(141, 161, 165));
  border: rgb(63, 182, 156) dotted 1px;
  perspective: 40px;
}

.bulbOn::after {
  content: "";
  margin-bottom: 2.5em;
  filter: drop-shadow(0px 0px 2px #39ffde);
  filter: blur(1px);
  box-shadow:
    0 0 7px rgba(0, 204, 255, 0.75),
    0 -10px 15px rgba(115, 14, 231, 0.35);
  background-color: #47ffe6a1;
  width: 15px;
  height: 30vh;
  position: absolute;
  transform: rotate3d(1, 0, 0, -40deg)translateY(-14.7vh);
}

.bulbOn::before {
  content: "💡";
  height: 15px;
  width: 0px;
  transform: translate(-.8px, -2px)
}

.intraNet {
  /*AiFillWechat*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}

.intraNet :active {
  /*AiFillWechat*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}

.speaker {
  /*AiFillAudio*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}

.speaker :active {
  /*AiFillAudio*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}

.camera {
  /*AiOutlineCamera*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}

.camera :active {
  /*AiOutlineCamera*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: black;
  height: 30px;
  width: 30px;
  border: white dotted 1px;
  border-radius: 5px;
}