/* /////tourinfo page */

.bCube {margin: 0;
padding: 0;
box-sizing: border-box;
}

.cube-wrapper {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.cube-backdrop {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 100;
background-color: blue;
}

.cube {
position:relative;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 70%;
width: 60%;
overflow-y: auto;
background-color: white;
box-shadow: 0 0 10px rgba(125, 103, 255, 0.808);
z-index: 101;
padding: 40px;
}

.tour-page {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

.top {
  margin-top: 8px;
}

.pit-shell {
  flex-direction: column;
}

.venture-menu {
  width: fit-content;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a {
  background-color: black;
  color: blanchedalmond;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a:hover {
  background-color: rgba(160, 13, 50, 0.5);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a:active {
  background-color: blanchedalmond;
  color: black;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.planet-image-text {
  display: flex;
  flex-basis: content;
  margin-top: 5px;
  margin-left: 10px;
}

.planet-image {
  display: flex;
  max-width: min-content;
  align-self: auto;
  padding: 4px;
  transform: scale(4);
  transform: scale(1);
}

.planet-text {
  display: flex;
  background-color: rgba(160, 13, 50, 0.25);
  color: white;
  flex-basis: 100%;
  margin: 5px;
  flex-flow: row wrap;
  border: solid 2px black;
  padding: 4px;
}

.top-border {
background-color: darkolivegreen;
width: 100%;
height: 150px;
background-image: 
radial-gradient(white, rgba(255,255,255,.1) 1px, transparent 20px);
background-size: 550px 550px;
background-position: 0px 0px;
}

/* APOD */
        /* header buttons */

.stylebox {
  display: flex;
    border: solid 1px rgb(216, 86, 39);
    background-color: #0e1224;
    box-shadow: inset -2px 2px 5px #ceda8d,
     inset 2px -1px 5px #d4dd9f;
     min-width: 350px;
      }

.infobox {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 60vh;
  overflow: auto;
} 

.apodPhoto {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;

}

 .apodPhoto img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 60vh;
}

.apodPhoto h1 {
  margin-top: 0;
  margin-bottom: 0;
}


.urla {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: visible;
}

.apodPhoto .date  {
  margin-top: 0;
  margin-bottom: 20px;
}

.apodPhoto .explanation {
  color: #bbb;
}

@media (max-width: 1350px) {
  .apodPhoto {
    display: block;
  }

  .infobox .apodPhoto img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.ipn {
margin: 5em;
height: 100px;
width: 100px;
border-radius: 50px;
 box-shadow: inset 0 0 18px #fff, 
       inset 6px 0 18px #f3bad6, 
       inset -6px 0 18px #0ff, 
       inset 6px 0 30px #f3bad6, 
       inset -6px 0 30px #0ff, 
       0 0 18px #fff, -4px 0 18px 
       #f3bad6, 4px 0 18px #0ff;
animation: rotation .8s  infinite  linear ;
  }
@keyframes rotation {
  from {
    transform: scale(.01)  rotate(0deg);
  }
  to {
    transform: scale(1) rotate(1100deg);
  }
}

