/* /////tourinfo page */

.bCube {margin: 0;
padding: 0;
box-sizing: border-box;
}

.cube-wrapper {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
}

.cube-backdrop {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 100;
background-color: blue;
}

.cube {
position:relative;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 70%;
width: 60%;
overflow-y: auto;
background-color: white;
box-shadow: 0 0 10px rgba(125, 103, 255, 0.808);
z-index: 101;
padding: 40px;
}

.tour-page {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

.top {
  margin-top: 8px;
}

.pit-shell {
  flex-direction: column;
}

.venture-menu {
  width: fit-content;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a {
  background-color: black;
  color: blanchedalmond;
  display: block;
  padding: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a:hover {
  background-color: rgba(160, 13, 50, 0.5);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.venture-menu a:active {
  background-color: blanchedalmond;
  color: black;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.planet-image-text {
  display: flex;
  flex-basis: content;
  margin-top: 5px;
  margin-left: 10px;
}

.planet-image {
  display: flex;
  max-width: min-content;
  align-self: auto;
  padding: 4px;
  transform: scale(4);
  transform: scale(1);
}

.planet-text {
  display: flex;
  background-color: rgba(160, 13, 50, 0.25);
  color: white;
  flex-basis: 100%;
  margin: 5px;
  flex-flow: row wrap;
  border: solid 2px black;
  padding: 4px;
}

/***Transforms of planets***/

#pit1 :hover {
  transform: scale(1.5);
}

#pit2 :hover {
  transform: scale(1.2);
}

#pit3 :hover {
  transform: scale(1.2);
}

#pit4 :hover {
  transform: scale(1.2);
}

#pit5 :hover {
  transform: scale(1.2);
}

#pit6 :hover {
  transform: scale(1.2);
}

#pit7 :hover {
  transform: scale(1.2);
}

#pit8 :hover {
  transform: scale(1.2);
}

#pit9 :hover {
  transform: scale(1.2);
}

#pit10 :hover {
  transform: scale(1.2);
}

#pit11 :hover {
  transform: scale(1.2);
}