body {
color: antiquewhite;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
/* background-color: darkolivegreen; */
font-family: "Times New Roman", Times, serif;

}

.presenter {
  color: rgb(4, 89, 163);
  font-weight: 500;
}


.logintop {
text-align: center;
border-radius: 15px;
padding: 15px;
height: 75px;
margin-top: 0;
margin-left: auto;
margin-right: auto;
font-weight: 600;
font-size: xx-large;
width: 600px;
border-color: #2c4cee;
box-shadow: 4px 4px 30px #2c4cee;
}

.circle {
display: flex;
margin-left: 40%;
margin-top: 5%;
height: 125px;
  width:125px;
  border-radius: 70px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(0, 0, 255), rgb(0, 0, 0));
}



.circle1{
display: flex;
margin-left: auto;
margin-top: 1%;
height: 40px;
  width:40px;
  border-radius: 70px;
  background-color:antiquewhite rgb((255, 115, 0)); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(255, 115, 0), rgb(0, 0, 0));
  position: relative;

}


.circle2{
margin-top: 5%;
margin-left: 71%;
height:70px;
  width: 70px;
  border-radius: 70px;
  background-color: rgb((37, 189, 125)); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(101, 202, 160), rgb(0, 0, 0));
}

.circle3 {
margin-left: 45%;
margin-top: 10%;
position: initial;
height: 15px;
  width:15px;
  border-radius: 50px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(192, 192, 201), rgb(189, 91, 168));
z-index: 1;
}

.circle4 {
margin-left: 50%;
position: sticky;
margin-top:-35.8%;
height: 17px;
  width:17px;
  border-radius: 60px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(128, 128, 134), rgb(0, 0, 0));
z-index: 2;
}

.circle5 {
margin-left: 60%;
margin-top:-5%;
height:5px;
  width:5px;
  border-radius: 50px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(128, 128, 134), rgb(192, 7, 7));
z-index: 2;
}

.circle6 {
margin-left: 46%;
margin-top: 8.5%;
position: relative;
height: 8px;
  width:8px;
  border-radius: 50px;
  background-color: rgb(102, 187, 22); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(102, 187, 22), rgb(0, 0, 0));
z-index: 1;
box-shadow: black;
}

.circle7 {
margin-left: 15%;
margin-top: 10%;
position: sticky;
height: 35px;
  width:35px;
  border-radius: 50px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(171, 218, 241), rgb(0,0,0));
z-index: 1;
}

.circle8 {
margin-left: 85%;
margin-top: -17%;
position: sticky;
height: 5px;
  width:5px;
  border-radius: 50px;
  background-color: rgb(0, 0, 255); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(171, 218, 241), rgb(0,0,0));
z-index: 1;
}

.circle9 {
margin-left: 85%;
margin-top: -15%;
position: sticky;
height: 5px;
  width:5px;
  border-radius: 50px;
  background-color: rgb(224, 205, 184); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(224, 205, 184), rgb(0,0,0));
z-index: 3;
}

.circle10 {
margin-left: -28%;
margin-top: -35%;
position: absolute;
height: 650px;
  width:650px;
  border-radius: 500px;
  background-color: rgb(224, 205, 184); /* For browsers that do not support gradients */
  background-image: radial-gradient(circle, rgb(137, 160, 37), rgb(0,0,0));
z-index: -1;
}

.loginform {
display: flex;
margin-left: auto;
margin-right: auto;
width: 280px;
height: 50px;
margin-top: 10;
border-radius: 5px;
background-color: rgba(44, 76, 238, 0.239);
font-weight: 500;

border-color: red;

}

.loginform button {
box-shadow: 4px 4px 35px b#02061b5d;;
border-radius:5px;
width:200px;
height: 70px;
}

.loginform:hover{
border-color: aqua;
}

button {

box-shadow: 4px 4px 35px b#02061b5d;;
border-radius:5px;
width:200px;
height: 70px;
}

input {
margin-top: 70%;
margin-left: auto;
margin-right: auto;
width: 280px;
height: 50px;
padding-left: 12px;
border-radius: 5px;
background-color: rgba(44, 76, 238, 0.239);
font-weight: 500;
font-size: large;
border-color: black;
}

input:hover {
border-color: white ;
}

/* 
#space{
padding: 30px;} */

.menuitem {margin-top: 200px;
}

.menu1{  width: 200px;
background-color: black;
color: bisque;
font-size: 5mm;
text-align: left;
padding: 2mm;
text-decoration: none;
}

li {padding: 3mm;
border-top: 2px;
border-color: blue;
border-bottom: 2px;
text-decoration: none;
}

menu :hover{
background-color: rgba(43, 40, 40, 0.637);
color: rgb(26, 6, 206);
border-color: blue;
text-decoration: none;
}

.headtitle{font-weight: 500;
color:rgba(0, 0, 255, 0.493);
}

.menubox {
    background-color:rgba(44, 76, 238, 0.239);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 300px;
}
/* //// Venture Menu */
.venture-menu {
  background-color: rgba(44, 76, 238, 0.239);
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.navbar-menu {
  background-color: chartreuse;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100;
  transition: 850;
}
.navbar-menu.active {
  left: 0;
  transition: 350;
}
.navbar.text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60;
}
.navbar-text a {
  text-decoration: none;
  color: wheat;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.navbar-text a:hover {
  background-color: yellow;
}
.navTour-menu-items {
  width: 100%;
}
.navVenture-toggle {
  background-color: blue;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}
/* MENU */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.callisto,
.titan,
.ganymede,
.mimas,
.moon {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}