.presenter {
  color: aliceblue;
  font-weight: 500;
}

.center {
  align-content: center;
}
.headtitle{font-weight: 500;
color:rgba(0, 0, 255, 0.493);
}
.menubox {
    background-color:rgb(22, 236, 243);
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 300px;
}


/* //// Venture Menu */

.venture-menu {
  background-color: rgb(162, 22, 243);
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
 right: 0;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.navbar-menu {
  background-color: rgba(45, 78, 11, 0.664);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100;
  transition: 850;
}

.navbar-menu.active {
  right: 0;
  transition: 350;
}

.navbar.text {
color: aliceblue;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60;
}

.navbar-text a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.navbar-text a:hover {
  background-color: rgb(25, 0, 255);
}
.navTour-menu-items {
  width: 100%;
}

.navVenture-toggle {
  background-color: blue;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

/* MENU */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.callisto,
.titan,
.ganymede,
.mimas,
.moon {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}